.item-list {
  margin-bottom: 1rem;
}

.item-list .list-group-item {
  
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.list-group-item a{
  display: inline-block;
  width: 100%;  
  color: #fff !important;
  cursor: pointer;
}
.list-group-item a:hover{
  text-decoration: none;
}